<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fashion All - Bags Online Store</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">
    <link href="~/css/cart.css" rel="stylesheet">



    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/imgEdit.js"></script>

    <!-- Bootstrap Shopping Cart JavaScript -->
    <script src="~/js/cart.js"></script>

    <!-- Add to cart no fresh page -->
    <script src="~/js/noFresh.js"></script>
    

 



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
   
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="display: initial" src="~/images/logo.png" />&nbsp;&nbsp;Fashion All</a>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Suppliers" asp-action="Index">Supplier</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Bags" asp-action="Index">Bag</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="AdminApplicationUsers" asp-action="Index">Members</a>
                        </li>


                        <li>
                            <a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                    }


                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    </li>
                </ul>



                @if (!User.IsInRole("Admin"))
                {
                   
                    <ul class="nav navbar-nav navbar-right">
                        <li class="cartLogo">
                            <a class="cart_nav" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart &nbsp;
                               
                                <img src="~/images/cart_1.png" />

                                
                            </a>
                            
 
                           
                        </li>

                    </ul>

                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        @RenderBody()
        <hr />






        <footer>
            <p>&copy; 2017 - Fashion All</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
